/* IE */
select::-ms-expand {
    display: none;
}

.genreSelect {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 130px;
    height: 50px;
    background: url('../images/main/arrow.jpg') no-repeat 95% 50%;
    background-color: white;
    background-size: 20px;
    padding: 5px 30px 5px 10px;
    border-radius: 1px;
    outline: 0 none;
    margin-right: 2px;
    float: left
}

.genreSelect option {
    background: white;
    color: black;
    padding: 3px 0;
}

.dateSelect {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    height: 50px;
    background: url('../images/main/arrow.jpg') no-repeat 95% 50%;
    background-color: white;
    background-size: 20px;
    padding: 5px 30px 5px 10px;
    border-radius: 1px;
    outline: 0 none;
    margin-right: 2px;
    float: left
}

.dateSelect option {
    background: white;
    color: black;
    padding: 3px 0;
}

.searchInput {
    width: 50%;
    height: 36px;
    padding: 5px 30px 5px 10px;
    margin-right: 5px;
    float: left;
}

.searchInput2 {
    width: 86%;
    height: 27px;
    padding: 5px 30px 5px 10px;
    margin-right: 20px;
    float: left;
}

.searchButton {
    background: url("../images/main/box2.PNG") center;
    border: none;
    border-radius: 1px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.searchButton2 {
    background: url("../images/main/box2.PNG") center;
    border: none;
    border-radius: 1px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: -61px;
}

.button1 {
    background: url("../images/main/button1.PNG") no-repeat center;
    border: none;
    border-radius: 1px;
    width: 53px;
    height: 53px;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 0px;
    float: right;
}

.button2 {
    background: url("../images/main/button2.PNG") no-repeat center;
    border: none;
    border-radius: 1px;
    width: 45px;
    height: 30px;
    cursor: pointer;
    margin-top: 27px;
    margin-right: -10px;
    float: right;
}

.select1 {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 130px;
    height: 30px;
    background: url('../images/main/arrow.jpg') no-repeat 95% 50%;
    background-color: white;
    background-size: 20px;
    padding: 5px 30px 5px 10px;
    border: none;
    border-radius: 0px;
    outline: 0 none;
    margin-top: 25px;
    margin-right: 20px;
    float: right;

}

.select1 option {
    background: white;
    color: black;
    padding: 3px 0;
}

.select2 {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 80px;
    height: 30px;
    background: url('../images/main/arrow.jpg') no-repeat 95% 50%;
    background-color: white;
    background-size: 20px;
    padding: 5px 30px 5px 10px;
    border: none;
    border-radius: 0px;
    outline: 0 none;
    margin-top: 25px;
    margin-right: 10px;
    float: right;
}

.select2 option {
    background: white;
    color: black;
    padding: 3px 0;
}

.select3 {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 120px;
    height: 30px;
    background: url('../images/main/arrow.jpg') no-repeat 95% 50%;
    background-color: white;
    background-size: 20px;
    padding: 5px 30px 5px 10px;
    border: none;
    border-radius: 0px;
    outline: 0 none;
    margin-top: 25px;
    margin-right: 2px;
    float: right;
}

.select3 option {
    background: white;
    color: black;
    padding: 3px 0;
}

/* 사이드바 시작 */
body,
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.left-side-bar>ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: lightgray;
    margin-top: 0px;
    /* 위치 조절추가 */
}

.left-side-bar {
    margin-top: -1px;
    /*위치 조절추가*/
    margin-left: 155px;
    /*위치 조절추가*/
    background-color: white;
    height: 23%;
    /* 100%였는데 크기 맞춤 */
    width: 20%;
    position: absolute;
    /*fixed였는데 수정함*/
    left: -155px;
    transition: left .3s;
}

.left-side-bar>.status-ico {
    text-align: right;
    padding: 10px;
}

.left-side-bar>ul li {
    position: relative;
}

.left-side-bar ul {
    font-weight: bold;
    text-align: left;
    /* center였는데 left로 수정함 */
    font-size: 15px;
    /* 추가 */
    padding: 0;
    margin-top: -15px;
    /* 위치 조절추가 */
}

.left-side-bar ul>li>a {
    display: block;
    padding: 10px;
    white-space: nowrap;

}

/* .left-side-bar:hover {
    left: 0;
    
} 원래 있던건데 안움직이게 하려고 주석처리함*/

.left-side-bar ul>li:hover ul {
    display: block;
}

.left-side-bar ul>li:hover>a {
    color: white;
    background-color: black;
}

/* .left-side-bar > .status-ico > span:last-child {
    display: none;
} 원래 있던건데 없는게 나을것 같아서 주석처리함*/

/* .left-side-bar:hover > .status-ico > span:last-child {
    display: block;
} 원래 있던건데 없는게 나을것 같아서 주석처리함*/

/* .left-side-bar:hover > .status-ico > span:first-child {
    display: none;
} 원래 있던건데 없는게 나을것 같아서 주석처리함*/
/* 사이드바 끝 */

/* #353B40 */
.footer {
    display: block;
    background-color: #353B40;
    height: 180px;
    width: 100%;
    float: left;
}

.footer2 {
    position: absolute;
    background-color: #353B40;
    height: 120px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.privacy {
    background-color: #353B40;
    font-family: Noto Sans CJK KR;
    width: 100%;
    height: 18px;
    float: left;
    display: block;
    font-size: 15px;
    line-height: 18px;
}

.privacytitle {
    float: left;
    width: 87px;
    color: white;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

.privacycontentfirst {
    float: left;
    color: gray;
    text-decoration: none;
    font-size: inherit;
    line-height: inherit;
}

.privacycontentrest {
    float: left;
    color: gray;
    text-decoration: none;
    font-size: inherit;
    line-height: inherit;
}

.privacycontentrest::before {
    content: "|";
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 0 8px;
}

.help {
    background-color: #353B40;
    font-family: Noto Sans CJK KR;
    width: 100%;
    height: 18px;
    float: left;
    display: block;
    font-size: 15px;
    line-height: 18px;    
}

.helptitle {
    float: left;
    width: 87px;
    color: white;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

.helpcontentfirst {
    float: left;
    color: gray;
    text-decoration: none;
    font-size: inherit;
    line-height: inherit;
}

.helpcontentrest {
    float: left;
    color: gray;
    text-decoration: none;
    font-size: inherit;
    line-height: inherit;
}

.helpcontentrest::before {
    content: "|";
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 0 8px;
}

/* 책 리스트에 쓰일 css 시작 */
.firstbookslist {
    background-color: white;
    height: 430px;
    width: 95%;
    margin-left: 5%;
}

.restbookslist {
    background-color: white;
    height: 430px;
    width: 95%;
    margin-left: 5%;
    margin-top: 30px;
}

/* 책 사이즈 */
.booksize {
    height: 360px;
    width: 192px;
}

/* 책리스트 위치 */
.firstbook {
    background-color: white;
    height: 360px;
    width: 192px;
    position: absolute;
    float: left;
}

.secondbook {
    background-color: white;
    height: 360px;
    width: 192px;
    margin-left: 21%;
    position: absolute;
    float: left;
}

.thirdbook {
    background-color: white;
    height: 360px;
    width: 192px;
    margin-left: 42%;
    position: absolute;
    float: left;
}

.fourthbook {
    background-color: white;
    height: 360px;
    width: 192px;
    margin-left: 63%;
    position: absolute;
    float: left;
}

/* 별위치 시작 */
.firstyellowstar {
    content: url("../images/main/yellowstar.png");
    margin-left: 27px;
    margin-top: 0px;
    height: 23px;
}

.firstsilverstar {
    content: url("../images/main/silverstar.png");
    margin-left: 27px;
    margin-top: 0px;
    height: 23px;
}

.restyellowstars {
    content: url("../images/main/yellowstar.png");
    margin-left: 0px;
    height: 23px;
}

.restsilverstars {
    content: url("../images/main/silverstar.png");
    margin-left: 0px;
    height: 23px;
}

/* 별위치 끝 */

.addbutton {
    content: url("../images/main/addtoread.png");
    margin-top: 0px;
    height: 39px;
}

.added {
    content: url("../images/main/added.PNG");
    margin-top: 0px;
    height: 39px;
}
/* 
.restbookslist > .star {
    margin-left: 0px;
    height: 23px;
} */

/* .book > .star:nth-child(1) {
    content: url("../images/main/yellowstar.png");
    margin-left: 27px;
    height: 23px;
}

.book > .star.silver {
    content: url("../images/main/silverstar.png");
    margin-left: 0px;
    height: 23px;
}

.book > .star.yellow {
    content: url("../images/main/yellowstar.png");
    margin-left: 0px;
    height: 23px;
} */



/* add버튼들 끝 */
/* 책리스트 끝 */